[submodule "themes/even"]
	path = themes/even
	url = git@github.com:azd1997/hugo-theme-even.git
[submodule "content/post"]
	path = content/post
	url = https://github.com/azd1997/eigerNotes
[submodule "website"]
	path = website
	url = git@github.com:azd1997/azd1997.github.io.git
